body {
    margin: 0;
    font-family: 'General Sans', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.logo-text-eipi{
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}
.logo-text-dot{
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 24px;
    color: #fc3c44;
}
.logo-text-space{
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding-inline-start: .6em;
}
nav ul li a:hover{
    text-decoration: underline;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
@media screen and (min-width: 600px) {
    .col-1{
        flex-basis: 40%;
        position: relative;
    }
}
@media screen and (max-width: 600px) {
    .col-1{
        flex-basis: 95%;
        position: relative;
    }
}
.col-1 p{
    font-size: 14px;
    color: #ffffff;
    font-family: "Satoshi";
    font-weight: 400;
}
@media (min-width: 600px){
.card{
    
    width: auto;
    float: right;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    
    border-color: rgb(255, 255, 255);
    border-style: none;
    border-width: 1px;
    border-radius: 3px 3px 0 0;
}
.thumbnail{
    width: 100%;
    padding-bottom: none;
    object-fit: cover;
    box-sizing: border-box;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 0 0;
}
.card-title{
    width: 100%;
    margin-top: -6px;
    padding: 6px 10px 6px 10px;
    box-sizing: border-box;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 3px 3px;
}
.card-text{
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 14px;
    align-self: auto;
    font-style: normal;
    text-align: left;
    font-family:"Satoshi";
    font-weight: 300;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
}
@media (max-width: 600px){
    .card{
        width: auto;
        
        position: relative;
        box-sizing: border-box;
        align-items: center;
        
        border-color: rgb(255, 255, 255);
        border-style: none;
        border-width: 1px;
        border-radius: 3px 3px 0 0;
    }
    .thumbnail{
        width: 100%;
        padding-bottom: none;
        object-fit: cover;
        box-sizing: border-box;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-width: 1px;
        border-radius: 3px 3px 0 0;
    }
    .card-title{
        width: 100%;
        margin-top: -6px;
        padding: 6px 10px 6px 10px;
        box-sizing: border-box;
        border-color: rgb(255, 255, 255);
        border-style: solid;
        border-width: 1px;
        border-radius: 0 0 3px 3px;
    }
    .card-text{
        color: rgba(255, 255, 255, 1);
        height: auto;
        font-size: 14px;
        align-self: auto;
        font-style: normal;
        text-align: left;
        font-family:"Satoshi";
        font-weight: 300;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }
    }
